%h1= @page_title = "Accessibility"

%h2 Text Size

%p Use your web browser's menu or keyboard controls to change the text size. Typical keyboard shortcuts are:

%table
  %tr
    %td Control and + (plus sign)
    %td Make text bigger
  %tr
    %td Control and - (minus sign)
    %td Make text smaller
  %tr
    %td Control and 0 (zero)
    %td Make text normal size

%p Apple Mac computers use the Command key (&#8984; or cmd) instead of Control.
    
%h2 Access Keys

%p This website uses these access keys:

-#
  http://en.wikipedia.org/wiki/Access_key#UK_Government_recommendation_for_access_keys
  Sutton's main website accessibility page: http://www.sutton.gov.uk/index.aspx?articleid=9

%table
  %tr
    %td s
    %td Skip to Content
  %tr
    %td 1
    %td Home Page
  %tr
    %td 2
    %td My Books
  %tr
    %td 3
    %td Lent
  %tr
    %td 4
    %td Borrowed
  %tr
    %td 5
    %td Watch List
  %tr
    %td 9
    %td Contact Us
  %tr
    %td 0
    %td Accessibility (this page)

