%h1= @page_title = "Disclaimer"

%p This web site is offered to the Internet user upon the following conditions.
%p 
	This web site is provided as a public service. The Internet user agrees to use this web site as permitted by applicable local laws. The Internet user agrees, therefore, not to:
%ol
	%li knowingly and without authorization, alter, damage, or destroy the web site or another user's computer system, network, software, program, documentation or data contained therein;
	%li use this service to conduct or attempt to conduct any business or activity or solicit the performance of any activity that is prohibited by law.
%p
	The author shall not be liable for any loss or injury caused in whole, or in part, by the actions, omissions, or contingencies beyond the author's control, including in procuring, compiling, or delivering the information, or arising out of any errors, omissions, or inaccuracies in the information regardless of how caused, or arising out of any Internet user's decision, or action taken or not taken in reliance upon information furnished.
%p
	To the extent that this web site contains or may in the future contain bulletin boards, discussion webs, chat rooms, or other message, interactive or communication facilities, the Internet user shall not violate the law by:
%ul
	%li
		Defaming, abusing, harassing, stalking, threatening or otherwise violating the legal rights (such as rights of privacy and publicity) of others.
	%li
		Publishing, posting, distributing, or disseminating any defamatory, infringing, obscene, indecent or unlawful material or information.
