

- content_for :head do
  = auto_discovery_link_tag :atom, titles_path(:format => :atom), { :title => "Social Library: New books" }



#puffbox
  %span{:class => 'puffbox_text' }
    Lend and borrow the books with your neighbours
    <br>in Somerset. 
    
    - unless current_user
      #button_box
        = link_to "Sign up!", :register, :class => "button"
    
#vision_box 
  %span{:class => 'vision_text' }
    The social library vision is to re-think the future of books and libraries with the internet built-in.<br>
    We aim to create a great product that opens broader connections between books and people,<br>
    making it more dynamic, interactive, alive and exciting.<br><br>

    We want to give the community free access to books<br>
    but also to prompt them to use books as an excuse<br>
    for the community to start engaging with each other more.<br>
     
#vision_box2 
  %span{:class => 'vision_text2' }
    Right now the Social Library is in its' infancy.<br>
    It's just a basic tool for sharing books<br>
    and a blog to reflect on this.<br>
    It doesn't have many features,it's not very user-friendly<br>
    and it lacks some substantial things.<br>
    But, it's the beginning of a great vision.<br>
    At the moment we see it as<br> 
    a platform for us all to build on.<br>

#easy_box 
  %span{:class => 'easy_text' }
    It's easy! 
    Just log on, register and add books you want to swap!
  %a{ :href => 'http://blog.the-social-library.org/', :class => 'easy_info_text' }<
    For more information please see our blog.
          

.clear
  
- if @books.count > 0

  = link_to (image_tag 'rss.png', :alt => "Atom feed for new books", :size => "16x16"), titles_path(:format => :atom)

  %table
    %tr
    - i = 0
    - for book in @books
      - title = book.title
      - i += 1
      %td
        = link_to (image_tag title.image_url, :height => 80, :alt => title.title_and_author), title
      - if i % 10 == 0
        %tr


