- content_for :head do
  = auto_discovery_link_tag :atom, titles_path(:format => :atom), { :title => "Sutton Bookshare: New books" }

#puffbox
  %p{ :style => 'font-size: 200%' }
    Lend and borrow books with your neighbours in Sutton

  - unless current_user
    %p{ :style => 'float: right' }
      = link_to "Sign up now", :register, :class => "button"
    
  %p
    Sutton Bookshare helps you to lend and borrow books. It's free, easy to use and open to everyone who lives or works in the London Borough of Sutton.

.clear
  
- if @books.count > 0

  = link_to (image_tag 'rss.png', :alt => "Atom feed for new books", :size => "16x16"), titles_path(:format => :atom)

  %table
    %tr
    - i = 0
    - for book in @books
      - title = book.title
      - i += 1
      %td
        = link_to (image_tag title.image_url, :height => 80, :alt => title.title_and_author), title
      - if i % 10 == 0
        %tr
